<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!-- For AJAX -->
  <appSettings>
    <add key="ProductionServerIP" value="96.47.65.20"/> <!-- used to determine for CIPRS web link -->
    <add key="UATIP" value="96.47.65.21"/>
    <!--These values will be used in Camper Questionaire to insert the Answers with the below separators-->
    <add key="FieldSeparator" value="~"/>
    <add key="QuestionSeparator" value="|"/>
    <add key="ValueSeparator" value="#"/>
    <!-- end of key values for the Camper Answers-->
    <!-- Redirect URLs for Save&Exit and Return admin -->
    <add key="SaveExitRedirURL" value="/CIPMS/CamperOptions.aspx"/>
    <add key="SaveExitAdminRedirURL" value="/CIPMS/Administration/Search/WorkQueue.aspx"/>
    <add key="WorkQueueURL" value="/CIPMS/Administration/Search/WorkQueue.aspx"/>
    <add key="AdminRedirURL" value="~/Administration/Search/CamperSummary.aspx"/>
    <add key="CamperBasicInfo" value="~/Enrollment/Step1.aspx"/>
    <!-- end of key values for REDIR URL-->
    <add key="LoginURL" value="~/Default.aspx"/>
    <!--hard coded ModifiedBy Id for Camper (to be stored in the database)-->
    <add key="CamperModifiedBy" value="0"/>
    <!--end of ModifiedBy Id key value-->
    <!-- Role Ids -->
    <add key="FJCADMIN" value="1"/>
    <add key="FEDADMIN" value="2"/>
    <add key="CAMPDIRECTOR" value="3"/>
    <add key="FED_CAMPADMIN" value="4"/>
    <add key="APPROVER" value="5"/>
    <!-- End Role Ids -->
    <!-- Cancel/Change States -->
    <add key="Camper Declined to go Camp" value="17"/>
    <add key="Payment Cancellation Pending FJC approval" value="29"/>
    <add key="Payment Cancellation Credit Pending" value="30"/>
    <add key="Payment cancellation credit denied" value="31"/>
    <add key="Payment Cancellation Credit Applied" value="32"/>
    <add key="Session Modified Pending FJC approval" value="33"/>
    <add key="Session Modified Credit Pending" value="34"/>
    <add key="Session modification credit applied" value="35"/>
    <add key="Camper Eligible by Staff" value="7"/>
    <add key="Second Approval" value="15"/>
    <!-- Cancel/Change States -->
    <!-- Federation Ids -->
    <add key="JWest" value="3"/>
    <add key="JWestLA" value="4"/>
    <add key="NationalLanding" value="21"/>
    <add key="Orange" value="22"/>
    <add key="LACIP" value="23"/>
    <add key="PJL" value="63"/>
    <add key="CMART" value="48"/>
    <!-- Added by Ram-->
    <add key="WashingtonDC" value="49"/>
    <add key="CampsAiryLouise" value="41"/>
    <add key="SanDiego" value="72"/>
    <!-- End Federation Ids -->
    <!-- Email configuration  -->
    <add key="HostEmailPort" value="25"/>
    <add key="FromName" value="Foundation for Jewish Camp"/>
    <add key="Subject" value="Your Password"/>
    <add key="MailAuthentication" value="Y"/>
    <add key="UserName" value="nessmail"/>
    <add key="Password" value="fjc2008"/>
    <add key="EmailInviteSubject" value="Get money off of your Jewish camp tuition!"/>
    <!-- Email configuration  -->
    <!-- Max Amount -->
    <add key="MaxAmt" value="2000"/>
    <!-- PJL Code -->
    <add key="PJLCode" value="PJGTC20112A,PJGTC20112B"/>
    <!--Added by Ram: Camp Session Month and Year (assign * to all to remove restriction)-->
    <add key="CampSessionStartMonth" value="6"/>
    <add key="CampSessionEndMonth" value="9"/>
    <add key="SynagogueFedId" value="5,8,9,10,11,12,24,28,29,36,49,53,54,61,70,72,74,78,82,89,93,98,99,100,101,102"/>
    <add key="DisabledFederationsDisalbe" value=""/>
    <add key="TestingMode" value="Yess"/>
    <add key="OpenFederations" value="1,2,3,4,5,6,7,9,10,11,12,23,24,25,26,27,28,29,32,35,36,37,39,41,42,43,44,45,46,47,48,49,50,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,89,91,92,93,94,95,96,97,98,99,100,101,102,103,105,105,106,107,108,109,110"/>
    <add key="DisableOnSummaryPageFederations" value=""/>
    <add key="PaymentReportPath" value="D:\Rajesh\"/>
    <add key="2012CRD6481" value="CRD8962"/>
    <add key="2012CRC6481" value="CRC2079"/>

    <!-- DEV -->
    <add key="ReportServerURL" value="http://localhost/ReportServer"/>
    <add key="HostEmailServer" value="iss2w545.pri.hyd.innova.in.com"/>
    <add key="EmailFrom" value="CIPMS@ness.com"/>
    <add key="ReplyTo" value="CIPMS@ness.com"/>
    <add key="SSLFlag" value="N"/>
    <add key="EnableEmailInvite" value="Y"/>
    <add key="EmailInviteFile" value="~/EmailInviteDev.htm"/>
    <add key="ExcelDestinationFile" value="D:\FJC\NESS\SSIS\DestinationFolder\CIPMS-Camper-Extract.xls"/>
    <add key="ExcelDestinationFile_CurrentYear" value="D:\FJC\NESS\SSIS\DestinationFolder\CIPMS-Camper-Extract_CurrentYear.xls"/>
    <add key="ExcelClientFile" value="CIPMS-Camper-Extract-"/>
    <!--Added by Dedeepya:EmailNotification constans-->
    <add key="EmailNotificationFolderPath" value="D:\FJC\CIP 2011\CIPMS\EMAIL"/>
    <add key="EmailNotificationFileName" value="CIPMS-SubmittedCampers"/>
    <add key="EmailNotificationFileExtension" value=".csv"/>
    <!--Added by Rajesh:EmailNotification constans-->
    <add key="PJLNotificationFolderPath" value="D:\FJC\CIP 2011\CIPMS\PJL"/>
    <add key="PJLNotificationFileName" value="CIPMS-PJL-SubmittedCampers"/>
    <add key="PJLNotificationFileExtension" value=".csv"/>
    <add key="UploadFilePath" value="D:\FJC\Projects\CIP_2011\CIPMS\Upload\"/>
    <!--Added by Rajesh:Award Notification Constants-->
    <add key="AwardNotificationFolderPath" value="FileDownloadRepo\SurveyRecords\"/>
    <add key="AwardNotificationFileName" value="CIPMS-ANReport-Campers"/>
    <add key="AwardNotificationFileExtension" value=".txt"/>
    <add key="ProgramProfileReportPath" value="\PPIR\"/>
    <add key="LogFilePath" value="D:\\FJC\\CIP 2011\\AppLog\\"/>
    <add key="JWestCampershipApprovedPaymentPending" value="9"/>
    <add key="JWestEligiblePendingSchool" value="18"/>
    <add key="jwestnumbercapcount" value="33"/>
    <add key="SpecialPJLCode" value="PJGTC20111R"/>
    <add key="LACode" value="LA5771"/>
    <add key="SDCode" value="SD5771"/>
    <add key="OCCode" value="OC5771"/>
    <add key="DCCode" value="DC5772"/>

    <!-- UAT -->
    <!-- 
    <add key="ReportServerURL" value="http://uat.onehappycamper.org/ReportServer"/>
    <add key="HostEmailServer" value="USHACNT11.ness.com"/>
    <add key="EmailFrom" value="campgrants@jewishcamp.org"/>
    <add key="ReplyTo" value="campgrants@jewishcamp.org"/>
    <add key ="SSLFlag" value="N"/>
    <add key="EnableEmailInvite" value="Y"/>
    <add key="EmailInviteFile" value="~/EmailInviteUAT.htm"/>
    <add key="ExcelDestinationFile"  value="D:\NESS\SSIS\DestinationFolder\CIPMS-Camper-Extract.xls"/>
    <add key="ExcelClientFile"  value="CIPMS-Camper-Extract-"/>
    <add key="EmailNotificationFolderPath" value="D:\NESS\EMAIL"/>
    <add key="EmailNotificationFileName" value="CIPMS-SubmittedCampers"/>
    <add key="EmailNotificationFileExtension" value=".csv"/>
  -->
    <!-- PROD -->
    <!-- 
    <add key="ReportServerURL" value="https://www.onehappycamper.org/ReportServer"/>
    <add key="HostEmailServer" value="10.32.0.3"/>
    <add key="EmailFrom" value="campgrants@jewishcamp.org"/>
    <add key="ReplyTo" value="campgrants@jewishcamp.org"/>
    <add key ="SSLFlag" value="Y"/>
    <add key="EnableEmailInvite" value="Y"/>
    <add key="EmailInviteFile" value="~/EmailInviteProd.htm"/>
    <add key="ExcelDestinationFile"  value="D:\NESS\SSIS\DestinationFolder\CIPMS-Camper-Extract.xls"/>
    <add key="ExcelClientFile"  value="CIPMS-Camper-Extract-"/>
    <add key="ExcelClientFile"  value="CIPMS-Camper-Extract-"/>
    <add key="EmailNotificationFolderPath" value="D:\NESS\EMAIL"/>
    <add key="EmailNotificationFileName" value="CIPMS-SubmittedCampers"/>
    <add key="EmailNotificationFileExtension" value=".csv"/>
    -->
  </appSettings>
  <connectionStrings>  
    <!-- DEV -->
    <add name="CIPConnectionString" connectionString="integrated security=SSPI;Data Source=localhost;Initial Catalog=CIPMS;"  providerName="System.Data.SqlClient"/>
    <!-- UAT -->
    <!-- 
    <add name="CIPConnectionString" connectionString="Data Source=C5100-005241;Initial Catalog=CIPMS_UAT;User ID=ness;Password=ready2go"
     providerName="System.Data.SqlClient" />
    -->
    <!-- PROD -->
    <!--
    <add name="CIPConnectionString" connectionString="integrated security=SSPI;Data Source=localhost;Initial Catalog=CIPMS;"  providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!-- For AJAX -->
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="false" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <!-- For AJAX -->
      <assemblies>
        <add assembly="Microsoft.mshtml, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- For AJAX -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!-- For AJAX -->
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" />
    <identity impersonate="true" />-->
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" protection="All" path="/" timeout="3600" name="AUTH_CIPMS"/>
    </authentication>
    <sessionState timeout="3600" mode="InProc" cookieless="false"/>
    <machineKey validationKey="39B2D534D5E12458A06EC963D1AF5E032DDEA333EDEB79E9010DFABCB79FFD39E2900221EEA4F5A68AD00ADF67AE1AD241049DA7D8CA0EF81D8ECFC2F500A4B7" decryptionKey="9246F03FDA0FAEFE59AF720C4B80D523DE31DCCE029DB7E7" validation="SHA1" decryption="3DES"/>
    <!--<authorization>
      <deny users="?"/>
       -->
    <!--Deny all users by default

        <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]">-->
    <!--
            
    </authorization>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
            -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
  </system.web>
  
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="style">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewUserRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- For AJAX -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>